html,
body {
  height: 100%;
  margin: 0;
  overflow: auto;
  font-family: IBM-Plex-Sans;
}

h1 h2 h3 h4 h5 h6 {
  font-family: IBM-Plex-Sans-Bold;
}

svg {
  position: absolute;
}

rect {
  fill: white;
}


#modal1body tr {
  background-color: #eee;
  border-top: 1px solid #fff;
}

#modal1body tr:hover {
  cursor: pointer;
  background-color: #ccc;
}

#makescrollable {
  overflow-y:scroll;
  max-height: 530px;
}

@font-face {
  font-family: IBM-Plex-Sans;
  src: url("fonts/IBM Plex Sans.ttf") format("truetype");
}


@font-face {
  font-family: IBM-Plex-Sans-Bold;
  src: url("fonts/IBM Plex Sans Bold.ttf") format("truetype");
}