html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

svg {
  position: absolute;
}

rect {
  fill: white;
}


#modal1body tr {
  background-color: #eee;
  border-top: 1px solid #fff;
}

#modal1body tr:hover {
  cursor: pointer;
  background-color: #ccc;
}

#makescrollable {
  overflow-y:scroll;
  max-height: 530px;
}